<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>AnchalSharma | Portfolio</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <base href="/">
    </head>
   <body>
       <nav id="navigation-bar">
           <input type="checkbox" id="check">
           <label for="check" class="checkbtn">
               <i class="fa fa-bars"></i>
           </label>
           
           <ul>
               <li><a (click)="toHome()" routerLink="home" href="#" class="hov">Home</a></li>
               <li><a (click)="toSkills()"  routerLink="skills" href="#" class="hov">Skills</a></li>
               <li><a (click)="toProjects()"routerLink="projects" href="#" class="hov">Projects</a></li>
               <li><a (click)="toAwards()" routerLink="awards" href="#" class="hov">Awards</a></li>
           </ul>
       </nav>
       
    
	</body>
	   
</html>
	   
