<footer class="footer">
    <div class="centerdiv">
        <a href="https://www.linkedin.com/in/anchal-sharma-53213a1a9/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
        </a>
   
        <a href="https://github.com/AnchalSharma77" target="_blank">
            <i class="fa fa-github"></i>
        </a>

     <a href="https://twitter.com/AnchalS45515417" target="_blank">
         <i class="fa fa-twitter-square"></i>
     </a>

     <a href="mailto: anchal6899@gmail.com" target="_blank">
         <i class="fa fa-envelope"></i>
     </a>

     
    </div>
</footer>

