

<section class="container" >
    <div  >
        <div class = "dv">
       <label >
           
           <img class="image">
           
        <h3 class= "para">Hello I'm Anchal .I am a programmer, <br>
                nice to meet you.Please take a look around.<br></h3>
           
                
                    <h6>
                    <a href="Resume.pdf" download class="btn"> Resume</a>
                 </h6>
                    
       </label>
      
    </div>
       
    
 </div>

 
</section>