
    <div class="container">
        <br><br>
        <div class="row">
         
          
          <div class="card">
            <div class="card-header">
              <h1>Portfolio</h1>
              <h3></h3>
            </div>
            <div class="card-body">
              <p>
                The portfolio you are currently going through is developed by me using angular . The concept of routing , HTML and CSS , to enhace the look and feel part , is used in this. <br><br><br><br><br>
              </p>
              <a  href="https://anchalsharma77.github.io/portf/" class="btn">Visit site</a>
            </div>
          </div>
        
        </div>
      </div>
