<section>
    <header class="head">Skills</header>
    <div class="skill">
        <div class="set">
            <span class=" fa fa-code"></span>
            <header>Languages</header>
            <div class="list">
                <label>Java</label>
            </div>
            <div class="list">
                <label>Python</label>
            </div>

            <div class="list">
                <label>C/C++</label>
            </div>
        </div>

        <div class="set">
            <span class="fas fa-tools"></span>
            <header>Framework</header>
            <div class="list">
                <label>Angular</label>       
            </div>
            <div class="list">
                <label>Hibernate</label>
            </div>
        </div>

        <div class="set">
            <span class="fas fa-database"></span>
            <header>Backend</header>
            <div class="list">
                <label>MySQl</label>
            </div>
            <div class="list">
                <label>SQlite</label>
            </div>
        </div>

    </div>
</section>
