<div class="container">
    <div class="heading">
      <h1>Events partcipated in</h1>
    </div>
    <div class="row">
     
      <div class="card">
        <div class="card-header">
          <h1>ABVGIET</h1>
          <h3>(Tech Fest)</h3>
        </div>
        <div class="card-body">
          <p>
            In TechFest 2019 , Atal Bihari Vajpayee Government Institute of Engineering & Technology (ABVGIET ) ,Shimla , Himachal ,our team secured first position .
          </p>
          <a  class="btn"> 1st Position</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>RGGEC</h1>
          <h3>(Hackathon)</h3>
        </div>
        <div class="card-body">
          <p>
            In 2019 , our team secured 4th position in a hackathon held in Rajiv Gandhi Government Engineering College (RGGEC) , Nagrota Bagwan , Kangra , Himachal.
          </p>
          <a  class="btn">4th Position</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>MHRD</h1>
        </div>
        <div class="card-body">
          <p>
             Our team qualified  India Inovation Challenge Design Contest 2018 organized by MHRD .<br><br><br><br>
          </p>
          <a class="btn"> Qualifier</a>
        </div>
      </div>
    </div>
  </div>