<!DOCTYPE html>
<html>
  <head>
  
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    
  </head>
  <body>
    <div class="back">
        <div class="box" >
          <div  class="box-img"></div>
          <h1>Anchal</h1>
        <h5> Programmer</h5>
        <p> I can help you to solve a problem , build a product
          or grow existing project.<br>
          Nice to meet you. Please take a look around .
        
        </p>

        <a href="resume.pdf" download class="btn"> Resume</a>

         </div>
    </div>
  </body>
</html>

